/*---------------
1.header
2.navigation
3.main
4.media
5.header-media
6.navigation-media
7.main-media
---------------*/

html {
    font-size: 15px;
}

body {
    margin: 0;

    font-size: 0.5rem;
    font-family: 'Oswald', sans-serif;
    color: #d42d2d;

    background: repeat center/10% url(media/white-pattern.avif);
}

*, *::after, *::before {
    box-sizing: border-box;
}


/* 1.header */

header {
    width: 100%;
    padding: 2em 0;

    background-color: black;
    display: flex;
    align-items: center;
}

header figure {
    margin: 0 2vw;
}

.header-logo {
    width: 6vw;
    height: auto;

    border: 3px dotted #ff0000;
    border-radius: 100%;
}

.header-title {
    margin-right: 7vw;

    white-space: nowrap;

    font-size: 1.6vw;
}


/* 2.navigation */

.navigation {
    height: 100%;

    display: flex;
    align-items: center;
    background-color: black;
}

.navigation-sections {
    margin-right: 7vw;

    white-space: nowrap;

    display: flex;
}

.navigation a {
    padding: 0 0.2em;

    font-size: 1.6vw;
    font-weight: bold;
    color: #d42d2d;
    text-decoration: none;

    transition: color 0.5s linear;
}

.navigation a:hover {
    color: #bc2525;
    text-decoration: underline;
}

.navigation-tel {
    padding: 0 0.5em;
    margin-right: 3vw;

    white-space: nowrap;

    display: flex;
    flex-direction: column;
}

.navigation-media {
    display: flex;
}

.navigation-media svg{
    width: 2em;
    height: auto;
}


.navigation-media a:hover {
    text-decoration: none;
}

.telegram {
    border-radius: 50%;

    transition: background 0.3s linear;
}
.telegram:hover {
    border: 3px dotted #000000;
    background-color: white;
}

.instagram {
    border-radius: 20px;

    transition: background 0.3s linear;
}

.instagram:hover {
    border: 3px dotted #000000;
    background-color: white;
}

.email {
    border-radius: 10px;

    transition: background 0.3s linear;
}

.email:hover {
    border: 3px dotted #000000;
    background-color: white;
}

.discord {
    border-radius: 50%;

    transition: background 0.3s linear;
}

.discord:hover {
    border: 3px dotted #000000;
    background-color: white;
}


/* 3.main */

main {
    margin: 4vw 4vw;

    color: black;

    border-bottom: 1px solid black;
    border-top: 1px solid black;
    display: flex;
}

.main-title {
    margin: 2vw 0 2vw 0;

    font-size: 1.5vw;
}

.main-text {
    margin: 0 10vw 2vw 0;

    font-size: 1.2vw;
    text-align: justify;
}

.main-image {
    width: 20vw;

    border-radius: 20px;
    box-shadow: 1px 5px 5px black;
}

main > div > figure {
    margin: 0;
    width: fit-content;
}

main > div > figure:first-of-type {
    margin: 2vw 0 3vw 0;
}

main > div > figure:last-of-type {
    margin: 3vw 0 2vw 0;
}


/* 4.media */

@media (max-width: 900px) {


    /* 5.header-media */
    header {
        padding: 0;
        height: 26.3rem;

        align-items: center;
        flex-direction: column;
    }

    header figure {
        width: 100%;
        margin: 0;

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #333232;
    }

    .header-logo {
        margin: 0.5rem 0;
        width: 4rem;

        align-items: center;
        flex-direction: column;
    }

    .header-title {
        margin: 0;
        padding: 0.5rem 0;
        width: 100%;

        font-size: 1.3rem;
        text-align: center;
        vertical-align: middle;
    }


    /* 6.navigation-media */
    .navigation {
        width: 100%;
        height: 0;

        align-items: center;
        flex-direction: column;
    }

    .navigation-sections {
        margin: 0;
        width: 100%;

        background-color: black;
        flex-direction: column;
        align-items: center;
    }

    .navigation-sections a {
        padding: 0.5rem 0;

        font-size: 1.3rem;
    }

    .navigation-sections a:nth-of-type(odd) {
        width: 100%;

        display: flex;
        justify-content: center;
        background-color: #333232;
    }

    .navigation-tel {
        margin: 0;
        padding: 0;
        width: 100%;

        background-color: black;
        align-items: center;
    }

    .navigation-tel a {
        padding: 0.5rem 0;

        font-size: 1.3rem;
    }

    .navigation-tel a:last-of-type {
        width: 100%;

        display: flex;
        justify-content: center;
        background-color: #333232;
    }

    .navigation-media {
        padding: 0.5rem 0;
        width: 100%;

        background-color: black;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .navigation-media svg {
        width: 2.5rem;
    }


    /* 7.main-media */

    main {
        flex-direction: column;
    }

    .main-title {
        font-size: 1.2rem;
    }

    .main-text {
        margin-right: 0;

        font-size: 1rem;
    }

    .main-image {
        width: 90vw;
    }

    main > div > figure {
        margin: 2vw 1vw 3vw 1vw;
    }

    main > div > figure:first-of-type {
        margin: 2vw 1vw 3vw 1vw;
    }

    main > div > figure:last-of-type {
        margin: 3vw 1vw 2vw 1vw;
    }
}





